html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin-bottom: 250px;
}

h3, h4 {
    margin: 15px;
}

.navbar {
  padding: 5vh 5vw 2vh;
  font-size: calc(1.5vw + 12px);
  width: 75%;
}

.menu-items {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  margin: 0;
}

.menu-link {
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  display: block;
}

.audio-section {
    margin-bottom: 55px;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* margin-bottom: 55px;
  margin-top: 45px;  */
  margin: 40px 0px 45px;
}

.color-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0px 45px;
}

.color {
  width: 20vw;
  height: 20vw;
}

.question-section {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 12px 15px;
}

.question {
	font-size: calc(12px + 1.5vw);
}

.answer {
	color: darkgreen;
}

.listening-amerikan {
  list-style-type: none;
}

figcaption {
  margin-bottom: 18px;
}

img {
  max-width: 80%;
  margin: 15px;
  border: 1px solid #ccc;
}

.image-section > img {
  max-width: 85%;
}

.track-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 12px 15px;
}

.track-38-full,
.track-39-full
{
  width: 100%;
}

.th-video-voiceless, .th-video-voiced
{
  margin-left: 15px;
}

.script {
  /* font-size: 2.6rem; */
  font-size: calc(12px + 1.5vw);
  /* height: 0; */
  margin: 0;
  /* overflow: hidden; */
  padding: 0 10px;
  /* transition: height 2.5s ease-out, padding .5s ease-out; */
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.script>div {
  overflow: hidden;
}

.show-paragraph {
  /* padding: 10px;
	height: auto; */
  grid-template-rows: 1fr;
}

.show-hide-text {
  margin-top: 10px;
}

figcaption {
  font-weight: 600;
}

video {
  max-height: 35vw;
  border: 2px solid #f1e9e9;
  border-radius: 10px;
}

.video-label {
  font-size: 2rem;
  margin-left: 15px;
  margin-top: 10px;
}

.crossed-word {
  text-decoration: line-through;
}

.red {
  color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.brown {
  /* background-color: brown; */
  background-color: #6f4e37;
}

.blue {
  background-color: blue;
}


@media (max-width: 480px) {
  .video-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  video {
    width: 100%;
    height: auto;
  }

  .audio-section {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .track-container {
    width: 92%;
    margin: 10px 2px;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* #custom-seekbar
{  
  cursor: pointer;
  height: 10px;
  margin-bottom: 10px;
  outline: thin solid orange;
  overflow: hidden;
  position: relative;
  width: 320px;
}
#custom-seekbar span
{
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
} */

/* following rule is for hiding Stack Overflow's console  */
/* .as-console-wrapper{ display: none !important;} */
